.additional-page h1 {
  margin-bottom: 24px;
}

.additional-page h2 {
  margin-bottom: 20px;
}

.additional-page h3 {
  margin-bottom: 16px;
}

.additional-page h4 {
  margin-bottom: 16px;
}

.additional-page h5 {
  margin-bottom: 16px;
}
